video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video {
    width: 100vw;
    height: 110vh;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
}
.sm100{
    height: 100vh;
    transform: scale(0.9) ;
    -webkit-transform: scale(0.9) ;
    -moz-transform: scale(0.9) ;
    -ms-transform: scale(0.9) ;
    -o-transform: scale(0.9) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.sm200{
    transform: scale(0.8) ;
    -webkit-transform: scale(0.8) ;
    -moz-transform: scale(0.8) ;
    -ms-transform: scale(0.8) ;
    -o-transform: scale(0.8) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.sm300{
    transform: scale(0.7) ;
    -webkit-transform: scale(0.7) ;
    -moz-transform: scale(0.7) ;
    -ms-transform: scale(0.7) ;
    -o-transform: scale(0.7) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.sm400{
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transform: scale(0.6) ;
    -webkit-transform: scale(0.6) ;
    -moz-transform: scale(0.6) ;
    -ms-transform: scale(0.6) ;
    -o-transform: scale(0.6) ;
}
.sm500{
    transform:  translateY(-100px) scale(0.6) ;
    -webkit-transform:  translateY(-100px) scale(0.6) ;
    -moz-transform:  translateY(-100px) scale(0.6) ;
    -ms-transform:  translateY(-100px) scale(0.6) ;
    -o-transform:  translateY(-100px) scale(0.6) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.sm600{
    transform:  translateY(-250px) scale(0.6) ;
    -webkit-transform:  translateY(-250px) scale(0.6) ;
    -moz-transform:  translateY(-250px) scale(0.6) ;
    -ms-transform:  translateY(-250px) scale(0.6) ;
    -o-transform:  translateY(-250px) scale(0.6) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.sm700{
    transform:  translateY(-400px) scale(0.6) ;
    -webkit-transform:  translateY(-400px) scale(0.6) ;
    -moz-transform:  translateY(-400px) scale(0.6) ;
    -ms-transform:  translateY(-400px) scale(0.6) ;
    -o-transform:  translateY(-400px) scale(0.6) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.sm800{
    transform:  translateY(-550px) scale(0.6) ;
    -webkit-transform:  translateY(-550px) scale(0.6) ;
    -moz-transform:  translateY(-550px) scale(0.6) ;
    -ms-transform:  translateY(-550px) scale(0.6) ;
    -o-transform:  translateY(-550px) scale(0.6) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.sm900{
    transform:  translateY(-1700px) scale(0.6) ;
    -webkit-transform:  translateY(-1700px) scale(0.6) ;
    -moz-transform:  translateY(-1700px) scale(0.6) ;
    -ms-transform:  translateY(-1700px) scale(0.6) ;
    -o-transform:  translateY(-1700px) scale(0.6) ;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}


.vid_text{
    position: fixed;
    width: 700px;
    bottom: 10%;
    left: 5%;
    z-index: 300;
    transition: all 0.5s ease 0s;
    color: rgba(255, 255, 255, 1);
    p{
        font-weight: 300;
        font-size: 66px;
        line-height: 74px;
        letter-spacing: -1px;
    }
}


.cont100{
    transform: translateY(-80px);
    color: rgba(255, 255, 255, .8);
}

.cont150{
    transform: translateY(-180px);
    color: rgba(255, 255, 255, .6);
}
.cont180{
    transform: translateY(-300px);
    color: rgba(255, 255, 255, .4);
}
.cont200{
    transform: translateY(-1400px);
    color: rgba(255, 255, 255, 0);
}