.card {
  position: relative;
  padding: 30px 0;
  margin: 12px;
  font-family: Brutal_Regular, 'Open Sans', arial;
  font-weight: 400;
  line-height: 30px;
  min-width: 240px;
  @media (max-width: 300px) {
    margin: 0;
  }
  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    width: 100%;
    height: 2px;
    background: radial-gradient(
      100% 185.14% at 100% 100%,
      rgb(52, 195, 255) 0%,
      rgb(51, 142, 238) 100%
    );
  }
  h4 {
    font-size: 22px;
    padding-bottom: 20px;
    .link {
      color: #141414;
      &:hover {
        transition: all .5s ease;
        color: rgb(0, 87, 217);
      }
    }
  }
  p {
    color: #383b50;
  }
  .btn{
    margin: 20px 0;
  }
  
}
