.news{
    background-color: #dbdee3;
    .news_cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-wrap: wrap;
            justify-content: center;
          }
    }
    .title_part{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        padding-bottom: 30px;
        margin: 0 12px;
        @media (max-width: 790px) {
            flex-wrap: wrap;
            // flex-direction: column;
          }
        h3{
            font-size: 34px;
            font-weight: 300;
            line-height: 42px;
            font-family: Brutal_Light, 'Open Sans', arial;
            padding-right: 50px;
        }

    }
}
